//@import '~antd/dist/antd.css';
//
//$prefixCls: 'ant';
//
//@import '~antd/lib/row/style/index';
//@import '~antd/lib/col/style/index';
//@import '~antd/lib/button/style/index';
//@import '~antd/lib/avatar/style/index';
//@import '~antd/lib/dropdown/style/index';
//@import '~antd/lib/menu/style/index';
//
//@import '~@/components/Header/menu.scss';

.header {
  width: 100%;
  min-width: 1024px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(1, 0, 95, 0.06);

  .logo {
    font-size: 16px;
    font-weight: 800;
    color: #01005F;
  }
}

.#{$prefixCls}-menu-item-selected {
  color: #01005F;
}

.menu {
}

.active {
  color: #01005F;
}
