.container {
  padding: 0 2rem;

  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 36px;
      font-weight: 600;
      color: #01005F;
    }


    .name {
      color: #01005F;
    }

    .date {
      font-size: 12px;
      color: #888888;
    }

    .description {
      font-size: 14px;
      color: #888888;
    }

    .comment:hover {
      cursor: pointer;
      color: #01005F;
    }

    .hover:hover {
      cursor: pointer;
    }
  }
}

.username:hover {
  cursor: pointer;
}