.header {
  width: 100%;
  min-width: 1024px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(1, 0, 95, 0.06);

  .logo {
    font-size: 16px;
    font-weight: 800;
    color: #01005F
  }
}

.ant-menu-item-selected {
  color: #01005F;
}

.menu {
}

.active {
  color: #01005F
}